/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-gen-2016, 11.22.38
    Author     : francesco
*/
    #dnum{
        float: left;
    }
    #dbot{
        float: left;
    }
     #auto
     {
        margin-left: 80px;
        float: left;
    }
